{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        {{ if default false .Site.Params.Shader }}
            <script id="vertex-shader" type="x-shader/x-vertex">#version 300 es
                in vec4 a_position;
                
                void main() {
                    gl_Position = a_position;
                }
            </script>
            <script id="fragment-shader" type="x-shader/x-fragment">#version 300 es
                precision highp float;
                        
                out vec4 outColor;
                        
                void main() {
                    outColor = vec4(1, 0, 0.1, 1);
                }
            </script>
        {{ end }}
        <canvas id="shader" ></canvas>
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel"
                data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    {{ if .href }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }}
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>{{ .title | safeHTML }}</h1>
                                {{ .description | safeHTML }}
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" src="{{ .image }}" alt="">
                            </div>
                        </div>
                    {{ if .href }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
