.box-image-text {
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: 15px 0;
}

.box-image-text .top .text {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	transform: translate(0, -150%);
	transition: all 0.2s ease-out;
	color: #fff;
	padding: 0 20px;
}

.box-image-text:hover .text {
    position: absolute;
    transform: translate(0, 100%);
}

.box-image-text:hover .bg {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.box-image-text .top {
    position: relative;
    margin-bottom: 10px;
}

.box-image-text .top .bg {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: var(--primary-accent);
}

.box-image-text:hover .bg {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.box-image-text .content h3, .box-image-text .content h4 {
	text-transform: uppercase;
	line-height: 1.5;
	color: #555555;
	font-weight: 800;
	letter-spacing: 0.08em;
}

.box-image-text.blog .author-category a {
	font-weight: 500;
}

.box-image-text.blog .author-category {
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-weight: 300;
	font-size: 12px;
}

.box-image-text .image {
	width: 100%;
	img {
		width: 100%;
	}
}
