// This will be applied on top of base theme when dark color scheme is enabled

:root {
    --background: #181818;
    --background2: #222;
    --background3: #111;
    --text-color: #ddd;
    --primary-accent: #387dff;
    --navbar-border-top: #294d76;
    --button-border: #336194;
    --link-focus: #2f5a89;
    --form-shadow: rgba(70, 127, 191, 0.6);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #1f3a58;
    --bs-secondary-color: #bbb;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar ul.dropdown-menu li {
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.home-carousel h1,
.home-carousel h2,
.home-carousel h3,
.home-carousel p,
.home-carousel ul,
.navbar ul.dropdown-menu li a {
    color: var(--text-color);
}

#blog-listing-medium .post h2 a {
    color: var(--primary-accent);
}

#blog-listing-medium .post h2 a:hover {
    color: var(--link-focus);
}

body,
button,
.btn,
.navbar, 
#copyright,
.bar.background-white,
.dropdown-menu {
    background-color: var(--background);
    color: var(--text-color);
}

.bar.background-gray {
    background-color: var(--background2);
}

#footer {
    background-color: var(--background3);
}

iframe {
    filter: invert(.9) saturate(.8) hue-rotate(160deg);
}

.customers > [data-dark=false] {
    filter: invert(1.0) hue-rotate(180deg) saturate(5.0);
}

#shader, #heading-breadcrumbs {
    background-color: black;
}

.box {
    background: var(--background);
}

.pagefind-ui mark {
    background-color: #ffe600;
}

.pagefind-ui__form {

    .pagefind-ui__search-input {
        border-color: grey;
        color: var(--text-color);

        background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") no-repeat scroll 7px 7px;
        background-position-y: center;
    }

    .pagefind-ui__drawer {
        background-color: var(--background2);
        color: var(--text-color);

        li:not(:first-child) {
            border-top-color: #333;
        }
    }
}
