#footer {
	background: #555555;
	padding: 50px 0;
	color: #999999;
}

#copyright {
	background: #333;
	color: #ccc;
	padding: 50px 0;
	font-size: 12px;
	line-height: 28px;
}

#footer h4 {
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #eeeeee;
}
