@use 'search';

:root {
    --primary-accent: #387dff;
    --background2: #ddd;
    --navbar-border-top: #294d76;
    --button-border: #336194;
    --link-focus: #2f5a89;
    --form-shadow: rgba(70, 127, 191, 0.6);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #92b3d9;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
}


/* Bigger logo */
.navbar-brand {
    padding: 2px;
}

.navbar-brand img {
    max-height: 64px;
}

.navbar {
    padding: 0;
    min-height: 62px;
}

.navbar-default {
    background-color: #ffffff;
}

/* Shader background */
#shader {
    background-color: var(--primary-accent);
    position: absolute;
    top: 0;
    left: 0;
}

#heading-breadcrumbs {
    background: none;
    background-color: var(--primary-accent);
}

#heading-breadcrumbs h1 {
    color: #fff;
    font-size: 3em;
}

/* Google calendar theming */
.google-calendar {
    padding: 2em 0;
    height: 600px;
    width: 100%;
}

.home-content #blog-post {
    text-align: center;
}

.btn {
    margin-bottom: 2em;
}

.home-carousel a,
#heading-breadcrumbs a {
    color: #fff;
}

.home-carousel .container,
#heading-breadcrumbs .container,
#heading-breadcrumbs {
    position: relative;
}

.heading {
    margin-bottom: 1em;
    margin-top: 1em;
}

#post-content h1,
#content h1 {
    display: table;
    border-bottom: solid 5px var(--primary-accent);
    line-height: 1.1;
    margin-bottom: 0.5em;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

#post-content,
#content {
    font-size: 1.1em;
}

p.text-muted {
    font-size: inherit;
}

figure {
    text-align: center;
    margin: 1em;
}

figcaption .heading,
figcaption a,
figcaption p {
    margin: 0;
    line-height: normal;
}

figcaption .heading {
    display: block;
    /* px because of em being proportional to font size */
    margin-bottom: 10px;
}

figcaption :first-child {
    margin-top: 0.5em;
}

#lightswitch {
    position: absolute;
    top: 10px;
    right: 10px;
}

#content {
    overflow: hidden;
}

#TableOfContents {
    font-weight: 800;
    margin-bottom: 2em;
}

#TableOfContents > ol {
    list-style: decimal;
    text-transform: uppercase;
}

#TableOfContents > ol ol {
    list-style: disc;
    text-transform: none;
}

.customers .item {
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
}

.bar.background-gray {
    background-color: var(--background2);
}

.clients {
    padding-bottom: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-nav {
    height: 67px;
    flex-grow: 1;
    display: flex;
    align-items: end;
}

.navbar-collapse.show {
    width: 100%;
}

.show > .navbar-nav,
.collapsing > .navbar-nav {
    height: auto;
    > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-item {
        width: 100%;
        text-align: right;
    }
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
}

.navbar-toggler {
    margin-right: 10px;
    background-color: var(--background);
    padding: 12px;
}

.background-image-fixed-2 > .container {
    position: relative;
}

.navbar-brand {
    display: flex;
    height: 62px;

    .small-logo-text {
        margin-left: 5px;
    }
}

/* Animated dropdown */
.dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.dropdown-menu.show {
    visibility: visible;
    max-height: 300px;
    opacity: 1;
}

/* Home carousel */
.glider {
    padding-top: 1em;
    padding-bottom: 1em;
    scrollbar-width: none;
}

.navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.btn {
    font-weight: 700;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 0;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1.1;
    color: #333333;
}

.navbar ul.nav > li > a {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0.08em;
    border-top: solid 5px transparent;
}

.home-carousel h1,
.home-carousel h2,
.home-carousel h3,
.home-carousel p
.home-carousel ul {
	color: #fff;
}

.home-carousel h1 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 46px;
	letter-spacing: 0.08em;
}

.home-carousel ul, .home-carousel p {
	font-size: 18px;
	font-weight: 700;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.10em;
}

.home-carousel {
    position: relative;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section, div.section {
	margin-bottom: 40px;
}

.bar .dark-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.bar.background-image-fixed-2 {
	background: url('../img/fixed-background-2.jpg') center top no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.bar {
	position: relative;
	background: var(--primary-accent);
	padding: 60px 0;
}

.no-mb {
	margin-bottom: 0 !important;
}

.bar.color-white h1,
.bar.color-white h2,
.bar.color-white h3,
.bar.color-white h4,
.bar.color-white h5,
.bar.color-white h6,
.bar.color-white p {
	color: #fff;
}

.icon.icon-lg {
	font-size: 30px;
	border-width: 2px;
}

.icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	color: #fff;
	line-height: 80px;
	border-radius: 40px;
	border: solid 1px #fff;
	font-size: 20px;
}

.text-uppercase {
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

p.lead {
	margin-bottom: 40px;
}

.bar.background-white {
	background: #fff;
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
	display: inline-block;
	border-bottom: solid 5px var(--primary-accent);
	line-height: 1.1;
	margin-bottom: 0;
	padding-bottom: 10px;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.box-image-text {
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: 15px 0;
}


.box-image-text .top .text {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	transform: translate(0, -150%);
	transition: all 0.2s ease-out;
	color: #fff;
	padding: 0 20px;
}

.box-image-text {
	text-align: center;
}


.box-image-text:hover .text {
    position: absolute;
    transform: translate(0, 100%);
}

.box-image-text:hover .bg {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.box-image-text .top {
    position: relative;
    margin-bottom: 10px;
}

.box-image-text .top .bg {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: var(--primary-accent);
}

.box-image-text:hover .bg {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.btn-template-transparent-black:hover, .btn-template-transparent-black:focus, .btn-template-transparent-black:active, .btn-template-transparent-black.active {
	background: #fff;
	color: #000;
	border-color: #fff;
}

.btn-template-transparent-black:hover, .btn-template-transparent-black:focus, .btn-template-transparent-black:active, .btn-template-transparent-black.active, .open > .dropdown-toggle.btn-template-transparent-black {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-color: #e0e0e0;
}

a:hover, a:focus {
	color: var(--link-focus);
	text-decoration: underline;
}

a:hover {
	--bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

.btn-template-transparent-black {
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 14px;
	line-height: 1.33;
	border-radius: 0;
}

.box-image-text .content h3, .box-image-text .content h4 {
	text-transform: uppercase;
	line-height: 1.5;
	color: #555555;
	font-weight: 800;
	letter-spacing: 0.08em;
}

.box-image-text.blog .author-category a {
	font-weight: 500;
}

.box-image-text.blog .author-category {
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-weight: 300;
	font-size: 12px;
}

#footer {
	background: #555555;
	padding: 50px 0;
	color: #999999;
}

#copyright {
	background: #333;
	color: #ccc;
	padding: 50px 0;
	font-size: 12px;
	line-height: 28px;
}

#footer h4 {
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #eeeeee;
}

.customers .item {
	list-style-type: none;
	text-align: center;
	margin: 0 20px;
}

.navbar ul.dropdown-menu li {
	list-style-type: none;
	border-bottom: solid 1px #eeeeee;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	padding: 4px 0;
}

.dropdown-menu > li > a {
	padding: 5px 20px;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}


.navbar ul.dropdown-menu li a:hover {
	color: var(--primary-accent);
	text-decoration: none;
	background: none;
	left: 2px;
	transition: all 0.2s ease-out;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.navbar ul.dropdown-menu {
	margin: 0;
	padding: 0;
}

.dropdown-menu {
	z-index: 1000;
	font-size: 14px;
	background-color: #ffffff;
	/* border: 1px solid #cccccc; */
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar ul.dropdown-menu li a {
	position: relative;
	color: #999999;
	font-size: 12px;
	display: block;
	transition: all 0.2s ease-out;
	left: 0;
}

a {
	color: var(--primary-accent);
	text-decoration: none;
}

#heading-breadcrumbs {
	padding: 20px 0;
	margin-bottom: 40px;
}

#heading-breadcrumbs h1 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.08em;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
