.navbar {
    padding: 0;
    min-height: 62px;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-nav {
    height: 67px;
    flex-grow: 1;
    display: flex;
    align-items: end;
}

.navbar-collapse.show {
    width: 100%;
}

.show > .navbar-nav,
.collapsing > .navbar-nav {
    height: auto;
    > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-item {
        width: 100%;
        text-align: right;
    }
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 2em;
}

.navbar-toggler {
    margin-right: 10px;
    background-color: var(--background);
    padding: 12px;
}

.navbar-brand {
    display: flex;
    height: 62px;
    padding: 2px;

    .small-logo-text {
        margin-left: 5px;
    }

    img {
        max-height: 64px;
    }
}

.navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navbar-collapse .nav-link {
    padding-right: 2em;
}

.navbar-collapse #pagefind {
    padding-right: 0.5em;
}

.navbar ul.nav > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
    border-top: solid 5px transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #555555;
	background-color: var(--navbar-focus);
}

.navbar ul.dropdown-menu li {
	list-style-type: none;
	border-bottom: solid 1px #eeeeee;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	padding: 4px 0;
}

.navbar ul.dropdown-menu li a:hover {
	color: var(--primary-accent);
	text-decoration: none;
	background: none;
	left: 2px;
	transition: all 0.2s ease-out;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.navbar ul.dropdown-menu {
	margin: 0;
	padding: 0;
}

.navbar ul.dropdown-menu li a {
	position: relative;
	color: #999999;
	font-size: 12px;
	display: block;
	transition: all 0.2s ease-out;
	left: 0;
}

.dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.dropdown-menu.show {
    visibility: visible;
    max-height: 300px;
    opacity: 1;
}

.dropdown-menu > li > a {
	padding: 5px 20px;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.dropdown-menu {
	z-index: 1000;
	font-size: 14px;
	background-color: #ffffff;
	/* border: 1px solid #cccccc; */
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
