.search-hidden {
    display: none;
    position: absolute;
}

.search {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-basis: 10px;
    
    height: 100%;
    align-items: stretch;
    font-size: 1.2em;
}

.pagefind-ui {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.pagefind-ui__form {
    .pagefind-ui__suppressed {
        display: none;
    }

    .pagefind-ui__hidden {
        display: none;
    }

    .pagefind-ui__search-input {
        border-style: solid;
        border-radius: 10px;
        border-color: grey;
        padding: 0.5em;
        width: 100%;

        background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A") no-repeat scroll 7px 7px;
        background-position-y: center;
        padding-left:30px;
    }

    .pagefind-ui__search-clear {
        border: none;
        background-color: transparent;
        color: grey;
        position: absolute;
        top: 10px;
        right: 5px;
    }

    .pagefind-ui__drawer {
        background-color: white;
        border-style: solid;
        border-radius: 10px;
        border-color: grey;
        border-width: 1px;
        margin-top: 1px;
        padding: 0.75em;

        .pagefind-ui__result-link {
            font-weight: 600;
            font-size: 1.3em;
        }

        li {
            list-style-type: none;
        }

        li:not(:first-child) {
            border-top-style: solid;
            border-top-color: lightgrey;
            border-top-width: 1px;
            margin-top: 2em;
            padding-top: 1em;
        }

        .pagefind-ui__result-nested .pagefind-ui__result-link {
            font-weight: unset;
            font-size: unset;
        }
    }

    .pagefind-ui__result-thumb {
        display: none;
    }
}
