:root {
    /* All colors overridden to here for easier access */
    --primary-accent: #387dff;
    --navbar-border-top: #294d76;
    --button-border: #336194;
    --link-focus: #2f5a89;
    --form-shadow: rgba(70, 127, 191, 0.6);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #92b3d9;
}

/* Bigger logo */
.navbar-brand {
    padding: 2px;
}

.navbar-brand img {
    max-height: 64px;
}

/* Disable theme background images*/
.home-carousel .dark-mask, .home-carousel {
    background: none;
}

/* Shader background */
#shader {
    background-color: var(--primary-accent);
    position: absolute;
    top: 0;
    left: 0;
}

#heading-breadcrumbs {
    background: none;
    background-color: var(--primary-accent);
}

#heading-breadcrumbs h1 {
    color: #fff;
}

/* Google calendar theming */
.google-calendar {
    padding: 2em 0;
    height: 600px;
    width: 100%;
}

.home-content {
    text-align: center;
}

.btn {
    margin-bottom: 2em;
}

@media (min-width: 991px) {
    .row {
        display: flex;
        justify-content: center;
    }
}

.home-carousel a {
    color: #ccc;
}

/* Fixes #-links correct header being obstructed by nabar */
h1, h2, h3, h4, h5 {
    scroll-margin-top: 130px;
}
