:root {
    /* All colors overridden to here for easier access */
    --primary-accent: #387dff;
    --background2: #ddd;
    --navbar-border-top: #294d76;
    --button-border: #336194;
    --link-focus: #2f5a89;
    --form-shadow: rgba(70, 127, 191, 0.6);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #92b3d9;
    
    --pagefind-ui-scale: 0.8;
    /* does not work for some reason
    --pagefind-ui-primary: #034ad8;
    */
    --pagefind-ui-text: #393939;
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: #aaaaaa;
    --pagefind-ui-tag: #eeeeee;
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 6px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: sans-serif;
}

/* Bigger logo */
.navbar-brand {
    padding: 2px;
}

.navbar-brand img {
    max-height: 64px;
}

/* Disable theme background images*/
.home-carousel {
    background: none;
}

/* Shader background */
#shader {
    background-color: var(--primary-accent);
    position: absolute;
    top: 0;
    left: 0;
}

#heading-breadcrumbs {
    background: none;
    background-color: var(--primary-accent);
}

#heading-breadcrumbs h1 {
    color: #fff;
    font-size: 3em;
}

/* Google calendar theming */
.google-calendar {
    padding: 2em 0;
    height: 600px;
    width: 100%;
}

.home-content #blog-post {
    text-align: center;
}

.btn {
    margin-bottom: 2em;
}

.home-carousel a,
#heading-breadcrumbs a {
    color: #ccc;
}

.home-carousel .container,
#heading-breadcrumbs .container,
#heading-breadcrumbs {
    position: relative;
}

.heading {
    /* Fixes #-links correct header being obstructed by navbar */
    scroll-margin-top: 130px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#post-content h1,
#content h1 {
    display: table;
    border-bottom: solid 5px var(--primary-accent);
    line-height: 1.1;
    margin-bottom: 0.5em;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

#post-content,
#content {
    font-size: 1.1em;
}

p.text-muted {
    font-size: inherit;
}

figure {
    text-align: center;
    margin: 1em;
}

figcaption .heading,
figcaption a,
figcaption p {
    margin: 0;
    line-height: normal;
}

figcaption .heading {
    display: block;
    /* px because of em being proportional to font size */
    margin-bottom: 10px;
}

figcaption :first-child {
    margin-top: 0.5em;
}

#lightswitch {
    position: absolute;
    top: 10px;
    right: 10px;
}

#content {
    overflow: hidden;
}

#TableOfContents {
    font-weight: 800;
    margin-bottom: 2em;
}

#TableOfContents > ol {
    list-style: decimal;
    text-transform: uppercase;
}

#TableOfContents > ol ol {
    list-style: disc;
    text-transform: none;
}

.customers .item {
    margin: 0;
    margin-bottom: 50px;
}

.bar.background-gray {
    background-color: var(--background2);
}

.clients {
    padding-bottom: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
