{{ $data := index site.Data site.Language.Lang }}
{{ if isset $data "carousel" }}
{{ if gt (len $data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <canvas id="shader" ></canvas>
        <!-- <div class="dark-mask"></div> -->
        <div class="container">
            <div class="glider">
                {{ range sort $data.carousel "weight" }}
                {{/* don't render hidden carousel items */}}
                {{ if default false .hide }}
                    {{ continue }}
                {{ end }}
                <div class="item">
                    {{ if .href }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }}
                    <div class="d-md-flex align-items-center">
                        <div class="col-lg-5 col-md-6 text-center text-md-end">
                            <h1>{{ .title | safeHTML }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <img class="img-responsive center-block" src="{{ .image | relURL }}" alt="">
                        </div>
                    </div>
                    {{ if .href }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div role="tablist" class="dots">
                {{ range (len $data.carousel) }}
                <button class="glider-dot" data-index="{{ . }}" aria-label="Page {{ . }}" role="tab"></button>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
