<nav class="navbar-default navbar navbar-expand-xl sticky-top">
  <div class="container-xxl">
    <a class="navbar-brand" href="/">
      <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right align-items-end ms-auto mb-lg-0">
        {{ $current := . }}

        {{ range .Site.Menus.main.ByWeight }}
          {{ $topLevel := replace .URL "/" "" }}
          {{ $active := "" }}

          {{ if eq $current.RelPermalink .URL }}
            {{ $active = "active" }}
          {{ end }}

          {{ if eq $current.Type $topLevel }}
            {{ $active = "active" }}
          {{ end }}

          {{ if .HasChildren }}
            <li class="nav-item dropdown" data-hide-on-search>
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Name }}
              </a>
              <ul class="dropdown-menu">
                {{ range .Children.ByWeight }}
                  <li class="nav-item">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li class="nav-item {{ $active }}" data-hide-on-search>
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}

        {{ range $translations := $.Page.Page.Translations }}
          {{ $lang_to_language_display:= dict "fi" "suomeksi" "en" "In English"}}
          {{ range $lang, $lang_display := $lang_to_language_display }}
            {{ with eq $translations.Language.Lang $lang }}
              <li class="dropdown" data-hide-on-search>
                <a class="nav-link" href="{{ $translations.RelPermalink }}">{{ $lang_display }}</a>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}

        <div id="pagefind" class="search nav-link"></div>
        <script>
            window.addEventListener("DOMContentLoaded", (event) => {
                new PagefindUI({ element: "#pagefind", showSubResults: true });
            });
        </script>
        <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
        -->
      </ul>
    </div>
  </div>
</nav>

<!-- *** NAVBAR END ***-->
