{{ $jquery := resources.Get "node/jquery.min.js"}}
<script src="{{ $jquery.Permalink }}" ></script>
{{ $bootstrap := resources.Get "node/bootstrap.min.js"}}
<script src="{{ $bootstrap.Permalink }}"></script>

{{ $cookie := resources.Get "node/jquery.cookie.js" }}
<script src="{{ $cookie.Permalink }}"></script>
{{ $waypoints := resources.Get "node/waypoints.min.js" }}
<script src="{{ $waypoints.Permalink }}"></script>
{{ $counterup := resources.Get "node/jquery.counterup.min.js" }}
<script src="{{ $counterup.Permalink }}"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>-->
<script src="{{ "js/front.js" | relURL }}"></script>

<!-- owl carousel -->
{{ $owl := resources.Get "node/owl.carousel.min.js" }}
<script src="{{ $owl.Permalink }}"></script>

<!-- load all scripts from assets/js dir -->
{{ range resources.Match "/js/*.js" }}
<script src="{{ .RelPermalink }}" ></script>
{{ end }}

<!-- load all scripts from page resources (in same dir as content file) -->
{{ range .Page.Resources.Match "*.js" }}
<script src="{{ .RelPermalink }}" ></script>
{{ end }}

<!-- page shaders -->
{{ range .Page.Resources.Match "*.vert"}}
<script src="{{ .RelPermalink }}" type="x-shader/x-vertex"></script>
{{ end }}
{{ range .Page.Resources.Match "*.frag"}}
<script src="{{ .RelPermalink }}" type="x-shader/x-fragment"></script>
{{ end }}

<!-- Pagefind search -->
<script src="/pagefind/pagefind-ui.js"></script>

<!-- Masonry -->
{{ $masonry := resources.Get "node/masonry.pkgd.min.js"}}
<script src="{{ $masonry.Permalink }}" ></script>
