name: Build project
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./  
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
          lfs: false
          fetch-tags: true

      # Fill lfs files with dummy content
      # This allows site to build while not using up any of repos precious LFS quota
      - name: Fill git lfs files with dummy data
        uses: linkkijkl/lfs-dummy-clone-action@main

      - name: Build Docker Image
        run: docker build -t linkki-web:latest .
